#about {
  margin: auto;
  margin-top: 1vw;
  height: 47vw;
  width: 99.33vw;
  background-color: $reverb-dark-blue;
  border-top: solid $reverb-light-blue 1px;
  border-bottom: solid $reverb-light-blue 1px;
  text-align: center;
}

#features {
  margin-top: 1vw;
  margin-bottom: 4vw;
  font-size: 5rem;
  font-weight: 700;
  color:$reverb-off-white;
}

/* Smartphone Portrait Mode Design */
@media screen and (max-width: 600px){
  #about {
    height: 85vw;
  }
  #features {
    margin-top: 4vw;
    margin-bottom: 5vw;
    font-size: 2.2rem;
  }
}

/* Smartphone Landscape Mode Design */
@media screen and (min-width: 601px) and (max-width: 900px) and (orientation: Landscape) {
  #features {
    margin-top: 2vw;
    margin-bottom: 0;
    font-size: 2.2rem;
  }
}


/* Tablet Portrait Mode Design */
@media screen and (min-width: 601px) and (max-width: 900px) and (orientation: Portrait) {
  #about {
    height: 65vw;
  }
  #features {
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 2.8rem;
  }
}

/* Tablet Landscape Mode Design */
@media screen and (min-width: 901px) and (max-width: 1300px){
  #about {
    height: 62.5vw;
  }
  #features {
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 3.6rem;
  }
}

/* Small Desktop Monitors */
@media screen and (min-width: 1301px) and (max-width: 1700px){
  #about {
    height: 53vw;
  }
  #features {
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 4rem;
  }
}