.app {
  text-align: center;
}

.footer {
  padding: 1vw;
  height: 5vw;
  background-color: $reverb-dark-blue;
  margin: auto;
  width: 97.33vw;
  margin-top: 1vw;
  color:$reverb-off-white;
  font-size: 1vw;
  font-weight: 500;
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  border-top: solid $reverb-light-blue 1px;
}