.area{
  position: fixed;
  background: #0F2938;  
  background: -webkit-radial-gradient(center, 100vw 100vw, #0F2938, #091720);  
  width: 100vw;
  height:100vh;
  z-index: -1;
 
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circles li{
  position: absolute;
  list-style: none;
  animation: animate 16s ease-out infinite;
  border-radius: 100%;
}

.circles li:nth-child(1){
  animation-delay: 0s;
}

.circles li:nth-child(2){
  animation-delay: 3.5s;
}

.circles li:nth-child(3){
  animation-delay: 6s;
}

.circles li:nth-child(4){
  animation-delay: 8.5s;
}

.circles li:nth-child(5){
  animation-delay: 12s;
}

@keyframes animate {

  0%{
      opacity: 0.08;
      width: 1vw;
      height: 1vw;
      border: solid rgba(255, 255, 255, 0.1) 5px;
  }

  100%{
      opacity: 0.08;
      width: 150vw;
      height: 150vw;
      border: solid rgba(255, 255, 255, 0.1) 150px;
  }

}