.navbar {
  overflow: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  top: 0;
  width: 100vw;
  height: 5rem;
  background-color: $reverb-blue;
  margin: auto;
  z-index: 2;
  box-sizing: content-box;
  border-bottom: solid $reverb-light-blue 1px;
  transition: top 0.5s;
}

#logo_link{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 8.5vw;
}
#mini-logo {
  height: 3.5rem;
  margin-right: 0.75rem;
  align-self: flex-start;
}
#reverb {
  height: 2.5rem;
}

.navbar a {
  float: left;
  display: block;
  color:$reverb-off-white;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 800;
  padding: 1rem;
  text-decoration: none;
}
.navbar a:hover {
  background-color:$reverb-off-white;
  color: $reverb-blue;
}
.navbar a:active {
  background-color:$reverb-off-white;
  color: $reverb-blue;
}

#search-container {
  flex: 1;
  justify-self: flex-end;
}
.navbar input[type=text] {
  outline: none;
  float: right;
  padding: 0.5rem;
  border: solid $reverb-light-blue 2px;
  border-radius: 0.5rem;
  margin-right: 10vw;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: $reverb-dark-blue;
  color:$reverb-off-white;
  width: 12vw;
  transition-duration: 0.4s;
}
.navbar input[type=text]:focus {
  border: solid$reverb-off-white 2px;
  width: 15vw;
}

/* Smartphone Portrait Mode Design */
@media screen and (max-width: 600px) and (orientation: Portrait) {
  .navbar {
    height: 4rem;
    justify-content: space-evenly;
  }

  #logo_link {
    margin-left: 0;
  }
  #mini-logo {
    height: 2.6rem;
    margin-right: 0.5rem;
  }
  #reverb {
    height: 1.6rem;
  }

  .navbar a {
    font-size: 1.5rem;
    padding: 0;
  }

  #search-container {
    flex: 0;
  }
  .navbar input[type=text] {
    float: left;
    font-size: 1.2rem;
    margin-right: 0;
    padding: 0.25rem;
    width: 17.5vw;
  }
  .navbar input[type=text]:focus {
    width: 17.5vw;
  }
}

/* Smartphone Landscape and Tablet Portrait Mode Design */
@media screen and (min-width: 601px) and (max-width: 900px){
  .navbar {
    height: 4.6rem;
    justify-content: space-evenly;
  }

  #logo_link {
    margin-left: 0;
  }
  #mini-logo {
    height: 3.2rem;
    margin-right: 0.63rem;
  }
  #reverb {
    height: 2.4rem;
  }

  .navbar a {
    font-size: 2rem;
    padding: 0;
    margin-top: 0;
  }

  #search-container {
    flex: 0;
  }
  .navbar input[type=text] {
    float: left;
    font-size: 1.6rem;
    margin-right: 0;
    padding: 0.25rem;
    width: 20vw;
  }
  .navbar input[type=text]:focus {
    width: 20vw;
  }
}

/* Tablet Landscape Mode Design */
@media screen and (min-width: 901px) and (max-width: 1300px){
  .navbar input[type=text] {
    margin-right: 5vw;
  }

  #logo_link {
    margin-left: 5vw;
  }

  .navbar input[type=text] {
    width: 15vw;
  }
  .navbar input[type=text]:focus {
    width: 20vw;
  }
}